body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(43, 40, 40);
}
/* Color classes to be added to text dynamically */
.white {
    color: white;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
.yellow {
    color: yellow;
}
.orange {
    color: orange;
}
.purple {
    color: purple;
}