$bg-color: rgb(43, 40, 40);
$text-color: rgb(175, 169, 169);

#game-window {
    width: 60em;
    height: 30em;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
    background-color: $bg-color;
    color: $text-color;
    font-family: monospace;
    word-wrap: break-word;
}